<title>HN - TP LOCAL</title>
<head>
	<link rel="stylesheet" href="~/resources/index.css"/>
</head>
<body>
<header>
    <h1>Bienvenue chez TP HN</h1>
    <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
</header>
     < >
        <ul>
            <li><a href="#">Remplissez le formulaire</a></li>
            <li><a href="#">Avis list</a></li>
        </UL>
    </NAM>

</body>
